/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
  color: #8D80AD
}


/* ----------------------------------------
Typography
------------------------------------------- */
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

h1,h2 {
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

h2{
  font-size: 40px;
}

p {
  line-height: 1.4;
  font-size: 20px;
  color: #737373;
}

/* ----------------------------------------
Nav
------------------------------------------- */
nav {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 50px;
}

nav a {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  float: right;
  margin-right: 35px;
  letter-spacing: 1.2px;
  line-height: 50px;
}

nav a:link {
  color: #8D80AD;
}

nav a:visited {
  color: #8D80AD;
}

nav a:hover {
  color: #38E4AE;
}

/* ----------------------------------------
Header
------------------------------------------- */
header {
  padding-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('firstImage.jpg');
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  margin-bottom: 60px;
}

header h1 {
    color: #fff;
    line-height: 80vh;
    font-size: 60px;
}


/* ----------------------------------------
Layout
------------------------------------------- */
section {
  padding: 30px 160px;
}

.contenedor {
  margin: 0 auto;
  width: 80%;
}


/* ----------------------------------------
Content Section
------------------------------------------- */
.contacto h3 {
  font-size: 25px;
}

.redes-sociales a {
  color: #8D80AD;
  height: 65px;
  width: 65px;
  font-size: 35px;
  padding: 5px;
  margin: 10px;
  transition: all .5s ease-in-out;
}

.redes-sociales a:hover {
  color: #38E4AE;
}

/* ----------------------------------------
Footer
------------------------------------------- */
footer {
  background-color: #4B5267;
  overflow: auto;
  padding: 30px 15px;
}

.copyright {
  padding: 15px 0 3px;
  color: #fff;
}

